*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url(../media/appybg1.jpg);
}

.logo{
    float: left;
    width: 10%;
}

.logo img{
    height: 60px;
    width: 120px;
}

.nav{
    float: left;
    width: 80%;
    display: block;
}

.nav ul{
    list-style-type: none;
    height: 30px;
    text-align: center;
}

.nav ul li{
    display: inline-block;
}

.nav li a{
    float: left;
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 8px;
    letter-spacing: 2px;
    font-weight: bold;
}

.nav li a:hover{
    border-bottom: 1px solid white;
}

.sign{
    float: left;
    width: 10%;
    text-align:right;
}

.sign button{
    border-radius: 20px;
    background-color: #A4D1EB;
    padding: 10px 25px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 6px;
    letter-spacing: 1px;
    font-weight: bold;
    border:none;
    margin-top: 20px;
    margin-right: 10px;
}

.mobile{
    float: left;
    width: 45%;
    text-align: center;
}

.mobile img{
    height: 500px;
    width: 320px;
    margin-top: 40px;
}

.des{
    float: left;
    width: 45%;
    text-align: left;
    margin-top: 150px;
}

.des h2{
    color: white;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.des p{
    color: white;
    font-size: 10px;
    line-height: 18px;
    
}

.des button{

    border-radius: 20px;
    background-color:white;
    padding: 10px 25px;
    color:blue;
    font-size: 6px;
    letter-spacing: 1px;
    font-weight: bold;
    border:none;
}

#bottom{
    float: left;
    width: 100%;

}

.intro{
text-align: center;
}

.intro img{
    height: 70px;
    width: 100;

}

.intro h2{

    color:grey;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

.intro p{
    color:#bbb;
    font-size: 14px;
    font-weight: bold;
}